html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    min-height: 100vh;
}
.section {
    min-height: 100vh;
}

/* footer */

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-gray);
    border-top: 4px solid var(--main-red);
  }
  
  footer > p {
    margin: 2rem;
  }
  
  footer i {
    vertical-align: middle;
  }