html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    min-height: 100vh;
}
#welcome-section {
    height: 100vh;
}
.section {
    min-height: 100vh;
}
.section-padding {
    padding-top: 70px;
}
.nav-link{
    color: black !important;
    font-weight: bold;
}
.big-font{
    font-size: 4rem;
    font-weight: bold;
}

.navbar-brand {
    font-weight: bolder;
}
.bg-custom {
    background-color: rgb(220, 200, 175);
}
.photo {
    background-image: url('../img/landing.png');
    background-size: 500px 700px;
    background-repeat: no-repeat;
    background-position: bottom;

}
.profile {
    height: 300px;
    width: 300px;
}
.card-img-top {
    width: 100%;
    height: 300px;
}
.pt-custom {
    padding-top: 100px;
}
.btn-orange {
    border-radius: 0 !important;
    background-color: orangered;
    padding: 15px 30px;
}
.btn-outline-dark {
    color: black !important;
}
.btn-outline-dark:hover{
    background-color: white;
}


/* David Styles */
/* Contact */

#lets{
    color: white;
}

#how{
    color: white;
}
.btn{
    color: white;
    font-family: Helvetica, sans-serif;
}
.contact-section {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: rgb(0, 0, 163);
  }
  
  .contact-section-header > h2 {
    font-size: 6rem;
  }

  .contact-section-header > p {
    font-style: italic;
  }
  
  .contact-links {
    display: flex;
    max-width: 950px;
    margin-top: 6rem;
    justify-content: center;
    width: 100%;
    color: white;
    flex-wrap: wrap;
  }

  .contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
  }
  
  

/* footer */

footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: white;
    border-top: 4px solid white;
  }
  
  footer > p {
    margin: 2rem;
  }
  
  footer i {
    vertical-align: middle;
  }

@media screen and (max-width: 789px)  {
    .btn-outline-dark {
        display: none;
    }
}

